/wp-content/themes/lesson18/
/wp-content/themes/twentyfifteen/
/wp-content/themes/twentyfourteen/
/wp-content/themes/twentysixteen/
/wp-content/themes/theme_classic/
/wp-content/themes/blogname21/.idea/
/wp-content/themes/blogname21/node_modules/
